<%- include('./partials/header') %>
<nav>
    <ul>
      <li><a href="/flights/all">ALL FLIGHTS</a></li>
      <li><a href="/flights/new">ADD FLIGHT</a></li>
    </ul>
  </nav>  
<%- include('./partials/footer') %>
